.header{
	padding-top: 15px;
	height: 180px;
	background-color: #d68189;
}
.header p{
	margin-top: 30px;
	text-align: center;
	color: white;
	font-family: georgia;
	font-size: 30px;
}
.header img{
	width: 85px;
}
.navigation{
	padding-top: 9px;
	height: 85px;
	background-color: #d4ffc6;
}
.navigation ul{
	display: flex;
	justify-content: center;
}
.navigation li{
	display: inline-flex;
}
.navigation a{
	color: black;
	font-size: 24px;
	text-decoration: none;
	font-family: georgia;
	transition: all 0.4s;
	border-radius: 15px;
	padding: 1rem 1rem;
}
.navigation a:hover{
	background: #d68189;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e94e77' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e94e77' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.offer{
	padding: 30px;
}
.offer div{
  display: flex;
  justify-content: center;
}
.table{
	font-size: 15px;
	text-align: center;
}
.footer1{
	padding-top: 40px;
	height: 170px;
	background-color: 	#d4ffc6;
}
.footer2{
  height: 130px;
  background-color: #d68189;
}
